accelerate==0.34.2
bitsandbytes==0.35.4
diffusers==0.30.3
einops==0.7.0
ftfy==6.2.0
imageio==2.34.0
modelcards==0.1.6
numpy==1.26.4
omegaconf==2.3.0
pandas==2.2.2
pillow==10.3.0
streamlit==1.34.0
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tokenizers==0.15.2
torch==2.2.2
torchvision==0.17.2
tqdm==4.66.2
transformers==4.44.2
xformers==0.0.25.post1
opencv-python
decord
sentencepiece==0.2.0
imageio-ffmpeg>=0.5.1
pytorch_lightning==1.8.3
kornia
open_clip_torch==2.22.0
av
tomesd
matplotlib
scikit_image==0.19.3
scipy==1.10.1